<section class="laura-sec"> 
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="laura-text">
          {{ section.settings.sign_image | image_url: width: section.settings.sign_image.width | image_tag: widths: '246, 493, 600, 713, 823, 990', class: ' ', alt: section.settings.sign_image.alt }}
          {% comment %} <img src="{{ section.settings.sign_image | img_url: 'master' }}"> {% endcomment %}
          <h2>{{ section.settings.heading }}</h2>
          <div class="laura-content">
            {{ section.settings.content }}
          </div>
          <div class="laura-btn">
            <a href="{{ section.settings.button_link }}" class="btn-red btn-desktop">
              <span>{{ section.settings.button_text }}</span>
              <i class="fa fa-arrow-left"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="laura-gif">
          {{ section.settings.image | image_url: width: section.settings.image.width | image_tag: widths: '246, 493, 600, 713, 823, 990', class: ' ', alt: section.settings.image.alt }}
          {% comment %} <img src="{{ section.settings.image | img_url: 'master' }}"> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="laura-sec mob-laura">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="laura-text-mbl">
          <div class="laura-abs">
          {{ section.settings.sign_image | image_url: width: section.settings.sign_image.width | image_tag: widths: '246, 493, 600, 713, 823, 990', class: ' ', alt: section.settings.sign_image.alt }}
          {% comment %} <img src="{{ section.settings.sign_image | img_url: 'master' }}"> {% endcomment %}
          <h2>{{ section.settings.heading }}</h2>
          </div>  
          <div class="laura-gif-mbl">
            {{ section.settings.image | image_url: width: section.settings.image.width | image_tag: widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946', class: ' ', alt: section.settings.image.alt }}
            {% comment %} <img src="{{ section.settings.image | img_url: 'master' }}"> {% endcomment %}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="laura-content-mbl">
          {{ section.settings.content }}
        </div>
        <div class="laura-btn-mbl">
          <a href="{{ section.settings.button_link }}" class="btn-red">
            <span>{{ section.settings.button_text }}</span>
            <i class="fa fa-arrow-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
  "name": "Laura-section",
  "class": "Laura-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "sign_image",
      "label": "Sign Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Laura-section"
    }
  ]
}  
{% endschema %}