<section class="Blog-search">
  <div class="page-width">
    <div class="row">
     <div class="col-md-12">
       <form method="get" action="/search">
            <input type="text" name="q" placeholder="Search......" />
            <input  type="submit" value="Search" />
        </form>
     </div>
    </div>
  </div>
</section>
{%- assign blog = blogs[section.settings.blog] -%}
{%- if blog.articles_count > 0 -%}
  <ul class="blog-list">
    {%- for article in blog.articles limit: section.settings.post_limit -%}
      <li>
        <div class="blog-img">
          <a href="{{ article.url }}">
            {%- if article.image -%}
              {{ article | img_url: '150x150', scale: 2 | img_tag: '' }}
            {%- endif -%}
          </a>
        </div>
        <div class="blog-text">
          <div class="blog-date">
             <div class="date-text">{{ article.published_at | date: "%d %b %Y" }}</div>
             <!-- Content for reading time -->
            <div class="reading-time">
              {% assign content = article.content %}
              {% assign word_count = content | strip_html | size | divided_by: 5 %}
              {% assign reading_time = word_count | divided_by: 50 %}
              {% assign reading_time = reading_time | ceil %}
              {% if reading_time == 1 %}
                {{ reading_time }} min read
              {% else %}
                {{ reading_time }} mins read
              {% endif %}
            </div>
          </div>
          <h2>
            <a href="{{ article.url }}">
              {{ article.title }}
            </a>
          </h2>
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt }}
          {%- else -%}
            {{ article.content | strip_html | truncate: 150 }}
          {%- endif -%}
          <div class="blog-btn">
              <a href="{{ article.url }}" aria-label="Read more: {{ article.title }}">
                Read more
              </a>
          </div>
        </div>
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
{%- if section.settings.show_view_all -%}
  <a href="{{ blog.url }}"
    class="btn"
    aria-label="{{ 'blogs.article.view_all_blogs' }}">
    {{ 'blogs.article.view_all' }}
  </a>
{%- endif -%}
{% schema %}
{
  "name": "Blog posts",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Posts",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "Show author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Blog",
      "settings": {
        "blog": "News",
        "post_limit": 3
      }
    }
  ]
}
{% endschema %}