<section class="Left-Image-Right-Text {{ section.settings.class }}" id="{{ section.settings.section-id }}">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          {{
            section.settings.image_picker
            | image_url: width: section.settings.image_picker.width
            | image_tag: widths: '200, 300, 400, 600, 800', class: ' ', alt: section.settings['main-title']
          }}
          {% comment %} <img src="{{ section.settings.image_picker | img_url: 'master' }}">  {% endcomment %}
        </div>
      </div>
      <div class="col-md-6">
        <h2>{{ section.settings['main-title'] }}</h2>
        <p>{{ section.settings.content }}</p>
        {% if section.settings['btn-text'] %}
          <a href="{{ section.settings.btn-url }}" class="btn-red all-screens">
            <span>{{ section.settings['btn-text'] }}</span>
            <i class="fa fa-arrow-left"></i>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Left-Image-Right-Text",
  "class": "Left-Image-Right-Text",
  "settings": [
    {
      "type": "text",
      "id": "section-id",
      "label": "Section id"
    },
    {
      "type": "text",
      "id": "class",
      "label": "Class"
    },
    {
      "type": "text",
      "id": "main-title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "image_picker",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "btn-url",
      "label": "Button Url"
    },
    {
      "type": "text",
      "id": "btn-text",
      "label": "Button Text"
    }
  ],
  "presets": [
    {
      "category": "Left-Image-Right-Text",
      "name": "Left-Image-Right-Text"
    }
  ]
}
{% endschema %}
