<section class="Meet-The-Team {{ section.settings.section-class }}">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">{{ section.settings['main-title'] }}</h2>
      </div>
    </div>
    <div class="row items mobile-carousel">
      {% if section.blocks != blank %}
        {% for block in section.blocks %}
          <div class="col-md-4">
            <div class="item">
              <div class="img-box"><img src="{{ block.settings.member-image | img_url: 'master' }}"></div>
              <div class="content-box">
                <h6>{{ block.settings.member-name }}</h6>
                <p>{{ block.settings.member-designation }}</p>
                <ul>
                  {% if block.settings.instagram %}
                    <li>
                      <a href="{{ block.settings.instagram }}" target="_blank"
                        ><img src="https://cdn.shopify.com/s/files/1/0673/5806/4951/files/instagram.png"
                      ></a>
                    </li>
                  {% endif %}

                  {% if block.settings.spotify %}
                    <li>
                      <a href="{{ block.settings.spotify }}" target="_blank"
                        ><img src="https://cdn.shopify.com/s/files/1/0673/5806/4951/files/Style_2_copy_3.svg?v=1726171893"
                      ></a>
                    </li>
                  {% endif %}
                  
                  {% if block.settings.linkedin %}
                    <li>
                      <a href="{{ block.settings.linkedin }}" target="_blank"
                        ><img src="https://cdn.shopify.com/s/files/1/0673/5806/4951/files/linkedin.svg?v=1726082381"
                      ></a>
                    </li>
                  {% endif %}

                </ul>
                {% if block.settings.btn_text != "" %}
                  <span class="team_read_more" data-id="{{ block.id }}">{{ block.settings.btn_text }}</span>
                {% endif %}





              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      {% if section.blocks != blank %}
        {% for block in section.blocks %}
          <div data-id="{{ block.id }}" class="Meet-The-Team-popup">
            <div class="inner">
              <img
                src="https://cdn.shopify.com/s/files/1/0673/5806/4951/files/closebtn.png?v=1725914082"
                class="close-btn"
              >
              <div class="top">
                <div class="box">
                  <div class="img-box"><img src="{{ block.settings.member-image | img_url: 'master' }}"></div>
                  <div class="box-inner">
                    <h3>{{ block.settings.member-name }}</h3>
                    <p>{{ block.settings.member-designation }}</p>
                  </div>
                </div>
                <ul>
                  {% if block.settings.instagram %}
                    <li>
                      <a href="{{ block.settings.instagram }}"
                        ><img src="https://cdn.shopify.com/s/files/1/0673/5806/4951/files/instagram.png"
                      ></a>
                    </li>
                  {% endif %}
                  
                  {% if block.settings.spotify %}
                    <li>
                      <a href="{{ block.settings.spotify }}"
                        ><img src="https://cdn.shopify.com/s/files/1/0673/5806/4951/files/Style_2_copy_3.svg?v=1726171893"
                      ></a>
                    </li>
                  {% endif %}

                  {% if block.settings.linkedin %}
                    <li>
                      <a href="{{ block.settings.linkedin }}"
                        ><img src="https://cdn.shopify.com/s/files/1/0673/5806/4951/files/linkedin.svg?v=1726082381"
                      ></a>
                    </li>
                  {% endif %}

                </ul>
              </div>
              <div class="bottom">
                <h4>{{ block.settings.heading1 }}</h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="personal-info info-wrap-personal">
                      {% if block.settings.member-name != blank %}
                        <div class="info-list">
                          <h6>Name</h6>
                          <p>{{ block.settings.member-name }}</p>
                        </div>
                      {% endif %}
                      
                      {% assign heading1 = block.settings.option_heading_1 %}
                      {% assign content1 = block.settings.option_content_1 %}
                      {% assign heading2 = block.settings.option_heading_2 %}
                      {% assign content2 = block.settings.option_content_2 %}
                      {% assign heading3 = block.settings.option_heading_3 %}
                      {% assign content3 = block.settings.option_content_3 %}
                      {% assign heading4 = block.settings.option_heading_4 %}
                      {% assign content4 = block.settings.option_content_4 %}
                      {% assign heading5 = block.settings.option_heading_5 %}
                      {% assign content5 = block.settings.option_content_5 %}
                      {% assign heading6 = block.settings.option_heading_6 %}
                      {% assign content6 = block.settings.option_content_6 %}
                      
                      {% if heading1 != blank %}
                        <div class="info-list">
                          <h6>{{ heading1 }}</h6>
                          <p>{{ content1 }}</p>
                        </div>
                      {% endif %}
                      
                      {% if heading2 != blank %}
                        <div class="info-list">
                          <h6>{{ heading2 }}</h6>
                          <p>{{ content2 }}</p>
                        </div>
                      {% endif %}
                      
                      {% if heading3 != blank %}
                        <div class="info-list">
                          <h6>{{ heading3 }}</h6>
                          <p>{{ content3 }}</p>
                        </div>
                      {% endif %}
                      
                      {% if heading4 != blank %}
                        <div class="info-list">
                          <h6>{{ heading4 }}</h6>
                          <p>{{ content4 }}</p>
                        </div>
                      {% endif %}
                      
                      {% if heading5 != blank %}
                        <div class="info-list">
                          <h6>{{ heading5 }}</h6>
                          <p>{{ content5 }}</p>
                        </div>
                      {% endif %}
                      
                      {% if heading6 != blank %}
                        <div class="info-list">
                          <h6>{{ heading6 }}</h6>
                          <p>{{ content6 }}</p>
                        </div>
                      {% endif %}


                    </div>
                  </div>
                </div>
                <h4>{{ block.settings.heading2 }}</h4>
                <p>{{ block.settings.contenth2 }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
"name": "Meet-The-Team",
"class": "Meet-The-Team",
"settings": [
  {
    "type": "text",
    "id": "main-title",
    "label": "Main Title"
  },
  {
    "type": "text",
    "id": "section-class",
    "label": "Section Class"
  },
],
"blocks": [
  {
    "type": "Service-Product",
    "name": "Add-Team-Member",
    "settings": [
      {
        "type": "image_picker",
        "id": "member-image",
        "label": "Member Image"
      },
      {
        "type": "text",
        "id": "member-name",
        "label": "Member Name"
      },
      {
        "type": "text",
        "id": "member-designation",
        "label": "Member Designation"
      },
      {
        "type": "url",
        "id": "linkedin",
        "label": "Linkedin Link"
      },
      {
        "type": "url",
        "id": "instagram",
        "label": "Instagram Link"
      },
      {
        "type": "url",
        "id": "spotify",
        "label": "Spotify Link"
      },
      {
        "type": "text",
        "id": "heading1",
        "label": "Heading 1"
      },
      {
        "type": "text",
        "id": "option_heading_1",
        "label": "Option Heading 1"
      },
      {
        "type": "richtext",
        "id": "option_content_1",
        "label": "Option Content 1"
      },
       {
        "type": "text",
        "id": "option_heading_2",
        "label": "Option Heading 2"
      },
      {
        "type": "richtext",
        "id": "option_content_2",
        "label": "Option Content 2"
      },
       {
        "type": "text",
        "id": "option_heading_3",
        "label": "Option Heading 3"
      },
      {
        "type": "richtext",
        "id": "option_content_3",
        "label": "Option Content 3"
      },
       {
        "type": "text",
        "id": "option_heading_4",
        "label": "Option Heading 4"
      },
      {
        "type": "richtext",
        "id": "option_content_4",
        "label": "Option Content 4"
      },
       {
        "type": "text",
        "id": "option_heading_5",
        "label": "Option Heading 5"
      },
      {
        "type": "richtext",
        "id": "option_content_5",
        "label": "Option Content 5"
      },
       {
        "type": "text",
        "id": "option_heading_6",
        "label": "Option Heading 6"
      },
      {
        "type": "richtext",
        "id": "option_content_6",
        "label": "Option Content 6"
      },
      {
        "type": "text",
        "id": "heading2",
        "label": "Heading 2"
      },
      {
        "type": "richtext",
        "id": "contenth2",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "Mehr über mich"
      },
    ]
  }
],
"presets": [
  {
    "category": "Meet-The-Team",
    "name": "Meet-The-Team"
  }
]
}
{% endschema %}
