<section class="Left-Image-Right-Text second-left-img {{ section.settings.section-class }}" id="{{ section.settings.section-id }}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>{{ section.settings.main-title }}</h2>
      </div>
    </div>
    {% if section.blocks != blank %}
    {% for block in section.blocks %}
      <div class="row loop-row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{{ block.settings.image_picker | img_url: 'master' }}"> 
          </div>
        </div>
        <div class="col-md-6">
          <h2>{{ block.settings.left-title }}</h2>
           <div class="multi-row-content requirement-list">
             {{ block.settings.content }}
           </div>
          {% if block.settings.btn-text %}
            <a href="{{ block.settings.btn-url }}" class="btn-red all-screens">
              <span>{{ block.settings.btn-text }}</span>
              <i class="fa fa-arrow-left"></i>
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
   {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Multi row section",
  "class": "Multi-row-section",
  "settings": [
    {
      "type": "text",
      "id": "section-class",
      "label": "Section Class"
    },
    {
      "type": "text",
      "id": "section-id",
      "label": "Section id"
    },
    {
      "type": "text",
      "id": "main-title",
      "label": "Main Title"
    }
  ],
  "blocks": [
      {
        "type": "slides",
        "name": "slides",
        "settings": [
          {
            "type": "text",
            "id": "left-title",
            "label": "Left Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "image_picker",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "btn-url",
            "label": "Button Url"
          },
          {
            "type": "text",
            "id": "btn-text",
            "label": "Button Text"
          }
        ]
      }
    ],
  "presets": [
    {
      "category": "Multi-row-section",
      "name": "Multi row section"
    }
  ]
}
{% endschema %}
