<section class="podcasts-section {{ section.settings.section-class }}">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>{{ section.settings.heading }}</h2>
            </div>
            <div class="col-md-5">
                <a href="{{ section.settings.btn-url }}" class="btn-red all-screens"><span>{{ section.settings.btn-text }}</span><i class='fa fa-arrow-left'></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
              {%- assign blog = blogs[section.settings.blog] -%}
                {%- if blog.articles_count > 0 -%}
                
                    <ul class="podcasts">
                        {%- for article in blog.articles limit: section.settings.post_limit -%}
                        <li class="podcast">
                            <div class="box">
                                <div class="top" style="background: url({% if article.image %}{{ article.image | img_url: '300x300' }}{% endif %});" data-article-id="{{ article.id }}">
                                    
                                      {% if article.tags.size > 0 %}
                                        <div class="tag">
                                         {{ article.tags[0] }} <!-- Displays the first tag -->
                                        </div>
                                      {% else %}
                                       
                                      {% endif %}
                                    
                                    <div class="play-btn">
                                      <img src="https://cdn.shopify.com/s/files/1/0643/9344/5421/files/play.png?v=1724682712" alt="Play Icon">
                                    </div>
                                    <div class="info">
                                        <p class="date">{{ article.published_at | date: "%d %b %Y" }}</p>
                                        {% assign words = article.content | strip_html | split: ' ' %}
                                        {% assign word_count = words.size %}
                                        {% assign reading_time = word_count | divided_by: 200 %}
                                        
                                        <p class="time">{{ reading_time }} mins</p>
                                    </div>
                                </div>
                                <a href="{{ article.url }}" class="bottom">
                                    <h4>{{ article.title }}</h4>
                                    <div class="content">{{ article.content }}</div>
                                </a>
                            </div>
                        </li>
                        {%- endfor -%}
                    </ul>
                
                    <!-- Popups for each article -->
                    {%- for article in blog.articles limit: section.settings.post_limit -%}
                        <div class="outer-popup" data-article-id="{{ article.id }}">
                            <div class="close-btn">X</div>
                            <div class="popup">
                                {{ article.excerpt }}
                            </div>
                        </div>
                    {%- endfor -%}
                
                {%- endif -%}
                
                <a href="{{ section.settings.btn-url }}" class="btn-red mobile-screens"><span>{{ section.settings.btn-text }}</span><i class='fa fa-arrow-left'></i></a>

            </div>
        </div>
        <div class="row d-none">
            <div class="col">
                <a href="javascript:void(0)" class="btn-red load-more-podcasts"><span>Mehr laden</span><i class='fa fa-arrow-left'></i></a>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Blog posts",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "section-class",
      "label": "Section Class",
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "type": "text",
      "id": "btn-text",
      "label": "btn-text"
    },
    {
      "type": "url",
      "id": "btn-url",
      "label": "btn-url"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Posts",
      "min": 3,
      "max": 99,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "Show author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Blog",
      "settings": {
        "blog": "News",
        "post_limit": 3
      }
    }
  ]
}
{% endschema %}