{{ 'special-collaborations.css' | asset_url | stylesheet_tag }}

{% style %}
  #shopify-section-{{ section.id }} .special_collaborations_main {
    Background-color:{{ section.settings.section_bg }};
  }
{% endstyle %}
{% liquid
  assign count = 0
  for block in section.blocks
    assign count = count | plus: 1
  endfor
%}
<section class="special_collaborations">
  <div class="container">
    <div class="special_collaborations_main banner-content clearfix">
      <div class="section_heading_box">
        <div class="heading_content">
          {% if section.settings.heading != blank %}
            <div class="heading">
              <h2>
                {{ section.settings.heading }}
              </h2>
            </div>
          {% endif %}
          {% if section.settings.subheading != blank %}
            <div class="sunheading">
              {{ section.settings.subheading }}
            </div>
          {% endif %}
        </div>
        {% if section.settings.heading_image != blank %}
          <div class="heading_image">
            {{
              section.settings.heading_image
              | image_url: width: section.settings.heading_image.width
              | image_tag: class: 'custom-class', loading: 'lazy', alt: section.settings.heading_image.alt
            }}
          </div>
        {% endif %}
      </div>
      <div class="banner-slider block_item_{{ count }}">
        <div class="slider slider-for swiper main-slider">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="swiper-slide slider-banner-image">
                <div class="banner_image_box">
                  {% if block.settings.image_main != blank %}
                    <div class="banner_image_main js-min-height-banner-image">
                      {{
                        block.settings.image_main
                        | image_url: width: 700
                        | image_tag: class: 'custom-class', loading: 'lazy', alt: block.settings.heading
                      }}
                    </div>
                  {% endif %}
                  <div class="banner_image_box_content">
                    <div class="box_content_inner">
                      {% if block.settings.image_logo != blank %}
                        <div
                          class="box_logo_image"
                          style="--logo-max-width:{{ block.settings.main_logo_max__width }}px;"
                        >
                          {{
                            block.settings.image_logo
                            | image_url: width: block.settings.image_logo.width
                            | image_tag: class: 'custom-class', loading: 'lazy'
                          }}
                        </div>
                      {% endif %}
                      {% if block.settings.heading != blank %}
                        <div class="box_title" style="--text-color:{{ block.settings.heading_color }};">
                          <h3 class="image-main-heading">{{ block.settings.heading }}</h3>
                        </div>
                      {% endif %}
                    </div>
                    <div class="box_icon">
                      <a href="{{ block.settings.link_item }}">
                        {% render 'icon-arrow-up' %}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="banner_image_content">
                  {% if block.settings.bottom_left_text != blank %}
                    <div class="banner_image_content_inner">
                      {% if block.settings.bottom_left_text != blank %}
                        <div class="content_text_left">
                          {{ block.settings.bottom_left_text }}
                        </div>
                      {% endif %}
                      {% if block.settings.bottom_right_text != blank %}
                        <div class="content_text_right">
                          {% render 'icon-link' %}
                          {{ block.settings.bottom_right_text }}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                  <div class="promote_box_items">
                    {% if block.settings.discount_title != blank %}
                      <div class="promote_box_item">
                        <div class="promote_box">
                          <div class="promote_box_inner">
                            {% if block.settings.discount_title != blank %}
                              <div class="promote_box_title">
                                {{ block.settings.icon_discount }}
                                <span>{{ block.settings.discount_title }}</span>
                              </div>
                            {% endif %}
                            {% if block.settings.discount_code != blank %}
                              <discount-block>
                                <div class="promote_box_text">
                                  <span>
                                    {{- block.settings.discount_label }}
                                    <span class="js_discount_code">{{ block.settings.discount_code }}</span></span
                                  >
                                  <a class="js-icon-copy" data-toggle="tooltip" data-placement="top" title="Copy">
                                    {% render 'icon-copy' %}
                                  </a>
                                </div>
                              </discount-block>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    {% if block.settings.commission_title != blank %}
                      <div class="promote_box_item">
                        <div class="promote_box">
                          <div class="promote_box_inner">
                            {% if block.settings.commission_title != blank %}
                              <div class="promote_box_title">
                                {{ block.settings.icon_commission }}
                                {{ block.settings.commission_title }}
                              </div>
                            {% endif %}
                            {% if block.settings.commission_code != blank %}
                              <div class="promote_box_text">
                                {{ block.settings.commission_code }}
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div class="swiper thumbnail_swiper slider slider-nav thumb-image ">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="thumbnail-image swiper-slide">
                <div class="thumbImg_main_inner medium-hide small-hide">
                  <div class="thumbImg_main">
                    {% if block.settings.thumb_logo != blank %}
                      <div class="thumb_logo_image" style="--logo-max-width:{{ block.settings.logo_max_width }}px;">
                        {{
                          block.settings.thumb_logo
                          | image_url: width: block.settings.thumb_logo.width
                          | image_tag: class: 'custom-class', loading: 'lazy'
                        }}
                      </div>
                    {% endif %}
                    {% if block.settings.image_thumb != blank %}
                      <div class="image_main">
                        {{
                          block.settings.image_thumb
                          | image_url: width: block.settings.image_thumb.width
                          | image_tag: class: 'custom-class', loading: 'lazy', alt: block.settings.heading_thumb
                        }}
                      </div>
                    {% endif %}
                  </div>
                  {% if block.settings.heading_thumb != blank %}
                    <div class="box_title" style="--text-color:{{  block.settings.heading_color_thumb }};">
                      <h3>{{ block.settings.heading_thumb }}</h3>
                    </div>
                  {% endif %}
                </div>
                <div class="slider-banner-image large-up-hide">
                  <div class="banner_image_box">
                    {% if block.settings.image_main != blank %}
                      <div class="banner_image_main {% if block.settings.image_main_mobile != blank %}banner-slide-hide{% endif %}">
                        {{
                          block.settings.image_main
                          | image_url: width: 700
                          | image_tag: class: 'custom-class', loading: 'lazy', alt: block.settings.heading
                        }}
                      </div>
                      {% if block.settings.image_main_mobile != blank %}
                        <div class="banner_image_main">
                          {{
                            block.settings.image_main_mobile
                            | image_url: width: 700
                            | image_tag: class: 'custom-class', loading: 'lazy'
                          }}
                        </div>
                      {% endif %}
                    {% endif %}
                    <div class="banner_image_box_content">
                      <div class="box_content_inner">
                        {% if block.settings.image_logo != blank %}
                          <div
                            class="box_logo_image"
                            style="--logo-max-width:{{ block.settings.main_logo_max__width }}px;--logo-max-width-mobile:{{ block.settings.logo_max_width_mobile }}px;"
                          >
                            {{
                              block.settings.image_logo
                              | image_url: width: block.settings.image_logo.width
                              | image_tag: class: 'custom-class', loading: 'lazy'
                            }}
                          </div>
                        {% endif %}
                        {% if block.settings.heading != blank %}
                          <div class="box_title" style="--text-color:{{ block.settings.heading_color }};">
                            <h3>{{ block.settings.heading }}</h3>
                          </div>
                        {% endif %}
                      </div>
                      <div class="box_icon">
                        {% render 'icon-arrow-up' %}
                      </div>
                    </div>
                  </div>
                  <div class="banner_image_content">
                    {% if block.settings.bottom_left_text != blank %}
                      <div class="banner_image_content_inner">
                        {% if block.settings.bottom_left_text != blank %}
                          <div class="content_text_left">
                            {{ block.settings.bottom_left_text }}
                          </div>
                        {% endif %}
                        {% if block.settings.bottom_right_text != blank %}
                          <div class="content_text_right">
                            {% render 'icon-link' %}
                            {{ block.settings.bottom_right_text }}
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                    <div class="promote_box_items">
                      {% if block.settings.discount_title != blank %}
                        <div class="promote_box_item">
                          <div class="promote_box">
                            <div class="promote_box_inner">
                              {% if block.settings.discount_title != blank %}
                                <div class="promote_box_title">
                                  {{ block.settings.icon_discount }}
                                  <span>{{ block.settings.discount_title }}</span>
                                </div>
                              {% endif %}
                              {% if block.settings.discount_code != blank %}
                                <discount-block>
                                  <div class="promote_box_text">
                                    <span>
                                      {{- block.settings.discount_label }}
                                      <span class="js_discount_code">{{ block.settings.discount_code }}</span></span
                                    >
                                    <a class="js-icon-copy" data-toggle="tooltip" data-placement="top" title="Copy">
                                      {% render 'icon-copy' %}
                                    </a>
                                  </div>
                                </discount-block>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      {% endif %}
                      {% if block.settings.commission_title != blank %}
                        <div class="promote_box_item">
                          <div class="promote_box">
                            <div class="promote_box_inner">
                              {% if block.settings.commission_title != blank %}
                                <div class="promote_box_title">
                                  {{ block.settings.icon_commission }}
                                  {{ block.settings.commission_title }}
                                </div>
                              {% endif %}
                              {% if block.settings.commission_code != blank %}
                                <div class="promote_box_text">
                                  {{ block.settings.commission_code }}
                                </div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      {% comment %} <div class="progress-bar-wrapper">
        <div class="progress-bar-slider">
          <div class="progress-fill"></div>
        </div>
      </div> {% endcomment %}
      <div class="banner_bottom_content">
        {% if section.settings.line_image != blank %}
          <div class="banner_line_image">
            {{
              section.settings.line_image
              | image_url: width: block.settings.line_image.width
              | image_tag: class: 'custom-class', loading: 'lazy'
            }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  var sliderThumbnail = new Swiper('.thumbnail_swiper', {
    centeredSlides: true,
    centeredSlidesBounds: true,
    spaceBetween: 16,
    slidesPerView: 'auto',
    freeMode: true,
    watchSlidesVisibility: true,
    watchSlidesProgress: true,
    watchOverflow: true,
    pagination: {
      el: ".swiper-pagination",
      type: "progressbar",
    },
    breakpoints: {
      1081: {
        spaceBetween: 0,
        slidesPerView: 'auto'
      }
    }
  });

  var slider = new Swiper('.main-slider', {
    effect: "fade",
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    thumbs: {
      swiper: sliderThumbnail,
    },
  });
</script>

{% comment %}
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
  ></script>

  <script>
    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 2,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav',
    });
    $('.slider-nav').slick({
      slidesToScroll: 1,
      horizontal: true,
      asNavFor: '.slider-for',
      variableWidth: true,
      infinite: true,
      dots: false,
      focusOnSelect: true,
      horizontalSwiping: true,
      responsive: [
        {
            breakpoint: 768, // Mobile breakpoint
            settings: {
                slidesToShow: 2,
                slidesToScroll: 1
            },
        },
        {
            breakpoint: 1024,
            settings: {
                slidesToShow: {%- if count == '3' -%} 2 {%- else -%}3{%- endif -%},
                slidesToScroll: 1
            },
        },
      ],
    }).on('afterChange', function(event, slick, currentSlide) {
      const totalSlides = slick.slideCount; // Total number of slides
      const progressPercent = ((currentSlide + 1) / totalSlides) * 100;
      $('.progress-fill').css('width', progressPercent + '%');
    });

    $(document).ready(function() {
      const totalSlides = $('.slider-nav').slick('getSlick').slideCount;
      $('.progress-fill').css('width', 100 / totalSlides + '%');
    });
  </script>
{% endcomment %}

{% schema %}
{
  "name": "Special Collaborations",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Special Collaboration"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Subheading",
      "default": "<p>Unlock exclusive savings in this section! Shop with special discounts through our collaboration with top brands. Don’t miss out on these limited-time offers tailored just for you!</p>"
    },
    {
      "type": "image_picker",
      "id": "heading_image",
      "label": "Heading image"
    },
    {
      "type": "image_picker",
      "id": "line_image",
      "label": "Line image"
    },
    {
      "type": "header",
      "content": "Color settings"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background Color",
      "default": "#F5F2ED"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "Main image content"
        },
        {
          "type": "image_picker",
          "id": "image_main",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_main_mobile",
          "label": "Mobile Image"
        },
        {
          "type": "image_picker",
          "id": "image_logo",
          "label": "Logo"
        },
        {
          "type": "range",
          "id": "main_logo_max__width",
          "label": "logo Maximun width",
          "min": 0,
          "max": 300,
          "step": 3,
          "unit": "px",
          "default": 99
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading",
          "default": "Naturally good"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Color",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "Thumb image content"
        },
        {
          "type": "image_picker",
          "id": "image_thumb",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "thumb_logo",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_item",
          "label": "Arrow Link"
        },
        {
          "type": "textarea",
          "id": "heading_thumb",
          "label": "Heading",
          "default": "Naturally good"
        },
        {
          "type": "color",
          "id": "heading_color_thumb",
          "label": "Color",
          "default": "#1e1e1e"
        },
        {
          "type": "range",
          "id": "logo_max_width",
          "label": "Logo Maximum Width",
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px",
          "default": 46
        },
        {
          "type": "range",
          "id": "logo_max_width_mobile",
          "label": "Logo Maximum Width Mobile",
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px",
          "default": 46
        },
        {
          "type": "richtext",
          "id": "bottom_left_text",
          "label": "Left Side text"
        },
        {
          "type": "richtext",
          "id": "bottom_right_text",
          "label": "Right Side text"
        },
        {
          "type": "header",
          "content": "Discount Content"
        },
        {
          "type": "liquid",
          "id": "icon_discount",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "discount_title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "discount_label",
          "label": "Discount Label"
        },
        {
          "type": "text",
          "id": "discount_code",
          "label": "Code"
        },
        {
          "type": "header",
          "content": "Commission Content"
        },
        {
          "type": "liquid",
          "id": "icon_commission",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "commission_title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "commission_code",
          "label": "Deal Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Special Collaborations"
    }
  ]
}
{% endschema %}
